<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <!-- 這是css -->
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- 這是引入font-awesome的icon -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
  <header class="header">
    <a href="javascript:;" class="burger"><i class="fas fa-bars"></i></a>
    <h1 class="logo">
      <a href="javascript:;">
        <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png" alt="logo">
      </a>
    </h1>
    <ul class="menu">
      <li><a href="javascript:;">系列鏡框</a></li>
      <li><a href="javascript:;">門市據點</a></li>
      <li><a href="javascript:;">部落格</a></li>
      <li><a href="javascript:;">常見問題</a></li>
    </ul>
  </header>

  <%- contents %>

  <footer class="footer">
    <div class="main">
      <div class="footer_top">
        <ul>
          <li><a href="javascript:;">首頁</a></li>
          <li><a href="javascript:;">系列鏡框</a></li>
          <li><a href="javascript:;">門市據點</a></li>
          <li><a href="javascript:;">部落格</a></li>
          <li><a href="javascript:;">常見問題</a></li>
        </ul>
        <ul>
          <li>
            <a href="javascript:;">
              <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-fb.svg" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-ig.svg" alt="">
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-line.svg" alt="">
            </a>
          </li>
        </ul>
      </div>
      <div class="footer_mid">
        <ul>
          <li>
            <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone.svg" alt="">
            <p>0800-000-000</p>
          </li>
          <li>
            <img src="https://hexschool.github.io/webLayoutTraining1st/week3/icon-mail.svg" alt="">
            <p>glasses@business.com</p>
          </li>
        </ul>
      </div>
      <div class="footer_bot">
        <div class="copyright">
          <img src="https://hexschool.github.io/webLayoutTraining1st/week3/logo.png" alt="">
          <p>Copyright © 2020 Glasses.All rights reserved.</p>
        </div>
        <ul class="service">
          <li><a href="javascript:;">隱私權政策</a></li>
          <li><a href="javascript:;">服務條款</a></li>
        </ul>
      </div>
    </div>
    
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
