//引入常用scss

@import "_reset.scss";

//mixin

$red_d: #650300;
$red: #AA0601;
$pink: #faf2f2;
$grey_d: #212529;
$grey: #707070;
$grey_l: #DEE2E6;

$pc_l: "screen and (max-width: 1200px)";
$pc: "screen and (min-width: 1000px)";
$npc: "screen and (max-width: 999px)";
$pad: "screen and (max-width: 767px)";
$mb: "screen and (max-width: 576px)";

//style for all

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

*,*::before,*::after{
  box-sizing: border-box;
}
img{
  display: block;
}
body{
  font-family: 'Roboto','Noto Sans TC', sans-serif;
  font-weight: 400;
  letter-spacing: 0px;
  font-size: 16px;
}
a{
  display: block;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}
p{
  font-size: 16px;
  line-height: 24px;
}
.clearfix{
  overflow: auto;
  zoom: 1;
}
button{
  padding: 0;
  border: 0;
  display: block;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
}

.main{
  max-width: 1200px;
  margin: 0 auto;
  &.main_npc{
    @media #{$npc}{
      width: 100%;
      padding: 0 48px;
    }
    @media #{$pad}{
      padding: 0 12px;
    }
  }
}


// index scss ：）

.header{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  display: flex;
  background-color: $red;
  justify-content: space-between;
  align-items: center;
  padding: 40px 88px;
  @media #{$npc}{
    padding: 40px 48px;
  }
  @media #{$pad}{
    display: block;
    padding: 10px 16px;
  }
}
.burger{
  display: none;
  color: #fff;
  i{
    font-size: 24px;
    margin-top: 13px;
  }
  @media #{$pad}{
    display: block;
    float: left;
  }
  
}
.logo{
  img{
    @media #{$pad}{
    margin: 0 auto;
    }
  }
}
.menu{
  display: flex;
  font-size: 20px;
  line-height: 28px;
  @media #{$pad}{
    display: block;
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    max-height: 0px;
    transition: all 0.8s ease-in-out;
    overflow: hidden;
    z-index: 120;
    &.active{
      max-height: 244px;
    }
  }
  li{
    padding-left: 64px;
    &:first-of-type{
      padding-left: 0px;
    }
    @media #{$pad}{
      border-top: 1px solid #fff;
      padding: 16px 0;
      background-color: $red;
      text-align: center;
    }
    
    a{
      position: relative;
      &::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        height: 2px;
        background-color: #fff;
        width: 0%;
        transition: width 0.3s ease-in-out;
      }
      &:hover{
        &::after{
          width: 100%;
          @media #{$pad}{
            width: 0%;
          }
        }
      }
    }
  }
}
.banner{
  margin-top: 108px;
  background: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png") center center no-repeat;
  background-size: cover;
  height: 840px;
  @media #{$pad}{
    margin-top: 50px;
  }
  @media #{$mb}{
    height: 394px;
  }
  .main_banner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2{
    text-align: right;
    color: $red_d;
    font-size: 64px;
    line-height: 90px;
    font-weight: 500;
    &:first-of-type{
      font-size: 36px;
      line-height: 50px;
      @media #{$npc}{
      font-size: 20px;
      line-height: 28px;
      }
      @media #{$mb}{
      font-size: 16px;
      line-height: 22px;
      }
    }
    @media #{$npc}{
      font-size: 48px;
      line-height: 67px;
    }
    @media #{$mb}{
      font-size: 32px;
      line-height: 45px;
    }
  }
}
.about{
  background-color: $pink;
  padding: 64px 0 80px;
  @media #{$npc}{
    padding: 40px 0 30px;
  }
}
.about_list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @media #{$npc}{
    justify-content: space-even;
  }
  .about_icon{
    height: 100px;
    display: flex;
    align-items: center;
    img{
      margin: 0 auto;
    }
    @media #{$npc}{
      height: 80px;
    }
  }
  li{
    width: 25%;
    padding: 0 37px;
    @media #{$npc}{
      padding: 0px 50px 50px;
      width: 50%;
      &:nth-of-type(1){
        order:3;
      }
      &:nth-of-type(2){
        order:1;
      }
      &:nth-of-type(3){
        order:2;
      }
      &:nth-of-type(4){
        order:4;
      }
    }
    @media #{$mb}{
      padding: 0px 64px 28px;
      width: 100%;
    }
  }
  h6{
    font-size: 24px; 
    line-height: 33px;
    color: $red_d;
    text-align: center;
    font-weight: 500;
    padding: 40px 0 4px;
    @media #{$npc}{
      padding: 27px 0 4px;
      font-size: 20px; 
      line-height: 28px;
    }
    @media #{$mb}{
      padding: 16px 0 8px;
    }
  }
}
.title{
  font-size: 48px;
  line-height: 67px;
  color: $red_d;
  font-weight: 600;
  text-align: center;
  padding-bottom: 60px;
  @media #{$npc}{
    font-size: 32px;
    line-height: 45px;
    padding-bottom: 32px;
  }
  @media #{$mb}{
    font-size: 24px;
    line-height: 33px;
  }
}
.classic{
  padding: 64px 0 48px;
  @media #{$pc_l}{
    padding: 64px 48px 48px;
  }
  @media #{$npc}{
    padding: 40px 48px 32px;
  }
  @media #{$pad}{
    padding: 24px 12px 16px;
  }
}
.classic_series{
  li{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    @media #{$pc_l}{
      justify-content: flex-start;
      margin-bottom: 8px;
    }
    
    &:nth-of-type(2){
      flex-direction: row-reverse;
      >img{
        filter: grayscale(100%);
        &:hover{
          filter: none;
        }
      }
      @media #{$pc_l}{
        flex-direction: row;
      }
    }
    img{
      max-width: 60%;
      @media #{$npc}{
        max-width: 50%;
      }
      @media #{$pad}{
        max-width: 100%;
      }
    }
  }
  .classic_word{
    display: flex;
    padding: 0 24px;
    align-items: center;
    @media #{$npc}{
      width: 50%;
      justify-content: center;
    }
    @media #{$pad}{
      position: absolute;
      top: 50%;
      left: 50%;
      transform:translate(-50%,-50%);
    }
    img{
      padding-right: 8px;
      @media #{$pc_l}{
       width: 32px;
      }
      @media #{$pad}{
       filter: brightness(2000%);
      }
    }
    p{
      font-size: 48px;
      line-height: 57px;
      font-style: italic;
      font-weight: 600;
      color: $red;
      @media #{$pc_l}{
        font-size: 28px;
        line-height: 33px;
      }
      @media #{$pad}{
        color: #fff;
      }
    }
  }
}
.frame{
  background-color: #000;
  padding-top: 64px;
  .title{
    color: #fff;
  }
  img{
    max-width: 100%;
  }
  .fr_pic_1{
    max-width: 573px;
    margin-right: 8px;
    @media #{$pad}{
      margin-right: 3px;
    }
  }
  .fr_pic_2{
    max-width: 958px;
    margin-bottom: 8px;
    @media #{$pad}{
      margin-bottom: 3px;
    }
  }
  .fr_pic_3{
    max-width: 132px;
    margin-right: 8px;
    @media #{$pad}{
      margin-right: 3px;
    }
  }
  .fr_pic_4{
    margin-bottom: 8px;
    height: 55%;
    @media #{$pad}{
      margin-bottom: 3px;
    }
  }
  .fr_more{
    display: flex;
    max-width: 1540px;
    margin: 0 auto;
    @media #{$npc}{
      padding: 0 48px;
    }
    @media #{$pad}{
      padding: 0 24px;
    }
  }
  .fr_2_pic{
    display: flex;
    max-height: 378px;
  }
  .fr_1_pic{
    max-width: 818px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .more_btn{
    height: 45%;
    width: 100%;
    position: relative;
    .more_btn_y{
      height: 100%;
      background-color: #f0c743;
      position: absolute;
      top: 0;
      right: 15%;
      width: 35%;
      @media #{$npc}{
        width: 40%;
      }
      @media #{$pad}{
        width: 50%;
      }
      @media #{$mb}{
        width: 65%;
      }
    }
    .more_btn_w{
      position: absolute;
      padding: 0 20px;
      top: 50%;
      right: 0;
      transform: translate(0,-50%);
      background-color: #fff;
      display: flex;
      align-items: center;
      height: 105px;
      transition: 0.5s;
      &:hover{
        padding: 0 15px 0 20px;
        .red_more{
          &::before{
            bottom: 50px;
          }
          &::after{
            bottom: 90px;
          }
        }
        i{
          margin-left: 22px;
        }
      }
      @media #{$pc_l}{
        height: 59px;
      }
      @media #{$pad}{
        height: 41px;
      }
      @media #{$mb}{
        padding: 0 12px;
        height: 30px;
      }
      i{
        font-size: 48px;
        color: #000;
        margin-left: 17px;
        transition: 0.5s;
        @media #{$pc_l}{
          font-size: 27px;
        }
        @media #{$mb}{
          font-size: 18px;
        }
      }
    }
  }
}
.red_word{
  font-size: 72px;
  color: $red;
  font-weight: 600;
  line-height: 95px;
  position: relative;
  &.red_more{
    &::before{
      content: "MORE";
      position: absolute;
      left: 0;
      bottom: 0;
      color: $red;
      transition: 0.3s ease-in-out;
      opacity: 0.8;
    }
    &::after{
      content: "MORE";
      position: absolute;
      left: 0;
      bottom: 0;
      color: $red;
      transition: 0.4s ease-in-out;
      opacity: 0.5;
    }
    
  }
  @media #{$pc_l}{
    font-size: 40px;
    line-height: 77px;
  }
  @media #{$mb}{
    font-size: 26px;
    line-height: 34px;
  }
}
.fr_dy{
  display: flex;
  padding-top: 60px;
  padding-bottom: 144px;
  @media #{$npc}{
    padding: 60px 48px 40px;
  }
  @media #{$pad}{
    padding: 40px 48px 40px;
  }
  @media #{$mb}{
    padding: 20px 12px 24px;
    display: block;
  }
  li{
    position: relative;
    &:first-of-type{
      margin-right: 30px;
      @media #{$pad}{
        margin-right: 24px;
      }
      @media #{$mb}{
        margin-right: 0px;
        margin-bottom: 20px;
      }
    }
    img{
      max-width: 100%;
    }
    &::after{
      content: "";
      position: absolute;
      background-color: #fff;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.5;
    }
    p{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      white-space: nowrap;
      z-index: 50;
    }
  }
}
.reco_box{
  position: relative;
  .title{
    padding-bottom: 268px;
    @media #{$npc}{
      padding-bottom: 332px;
    }
    @media #{$mb}{
      padding-bottom: 132px;
    }
  }
}
.reco{
  display: flex;
  position: absolute;
  top: 127px;
  left: 0;
  @media #{$npc}{
    padding: 0 48px;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 97px;
  }
  @media #{$mb}{
    padding: 0 12px;
    top: 49px;
  }
  li{
    margin-right: 24px;
    margin-bottom: 24px;
    img{
      width: 100%;
    }
    &:last-of-type{
      margin-right: 0;
    }
    @media #{$npc}{
      width: 47%;
      &:nth-of-type(even){
        margin-right: 0;
      }
    }
    @media #{$mb}{
      width: 100%;
      margin-right: 0;
    }
  }
}
.rec_text{
  background-color: #fff;
  border: $grey_l 1px solid;
  padding: 16px;
  p{
    padding-bottom: 16px;
    line-height: 24px;
    &.rec_name{
      font-weight: 600;
      line-height: 21px;
    }
    &.rec_time{
      color: $grey;
      line-height: 21px;
      padding-bottom: 0;
    }
  }
}

.contact{
  background-color: $pink;
  margin-top: 306px;
  padding: 64px 0 92px;
  @media #{$npc}{
    margin-top: 730px;
    padding: 40px 0 56px;
  }
  @media #{$mb}{
    margin-top: 512%;
    padding: 24px 0 48px;
  }
}
.con_con{
  max-width: 792px;
  margin: 0 auto;
  padding-bottom: 42px; 
  @media #{$npc}{
    max-width: 500px;
    padding-bottom: 24px; 
  }
  @media #{$mb}{
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
  }
  .con_intro{
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    @media #{$npc}{
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 16px;
    }
    @media #{$mb}{
      padding-bottom: 8px;
    }
  }
}
.con_input{
  li{
    padding-bottom: 16px;
    @media #{$npc}{
      padding-bottom: 12px;
    }
  }
  input,textarea{
    padding: 14px 16px;
    font-size: 16px;
    background-color: $pink;
    border: 1px solid #000000;
    width: 100%;
    @media #{$mb}{
      padding: 7px 12px;
    }
    &::placeholder{
      color: #000;
      opacity: 0.2;
    }
  }
}
.con_cb{
  cursor: pointer;
  line-height: 22px;
  input{
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  .checkbox_style{
    float: left;
    border: solid 1px #000;
    width: 20px;
    height: 20px;
  }
  p{
    margin-left: 28px;
    @media #{$mb}{
      font-size: 14px;
    }
  }
}
.btn_red{
  margin: 0 auto;
  text-align: center;
  background-color: $red;
  color: #fff;
  width: 180px;
  height: 54px;
  transition: width 0.3s ease-in-out;
  position: relative;
  &::before{
    color: #fff;
    content: "確認送出";
    background-color: $red;
    position: absolute;
    padding: 15px;
    width: 180px;
    height: 54px;
    left: 0;
    top: 0;
    transition: 0.5s;
  }
  &:hover{
    &::before{
      width: 220px;
      background-color: $red_d;
    }
  }
  @media #{$pad}{
    width: 136px;
    height: 36px;
  }
}

.footer{
  padding-top: 36px;
  padding-bottom: 28px;
  background-color: $red;
  color: #fff;
  .main{
    @media #{$npc}{
      padding: 0 48px;
    }
    @media #{$mb}{
      padding: 0 12px;
    }
  }
}
.footer_top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  @media #{$pad}{
    display: block;
  }
  ul{
    display: flex;
    &:first-of-type{
      a{
        margin-right: 48px;
        &:hover{
          text-decoration: underline;
        }
        @media #{$npc}{
          margin-right: 40px;
        }
      }
      @media #{$pad}{
        display: none;
      }
    }
    &:last-of-type{
      img{
        max-width: 100%;
      }
      a{
        margin-left: 32px;
        @media #{$npc}{
          width: 24px;
          height: 24px;
        }
      }
      @media #{$pad}{
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
.footer_mid{
  border-bottom: solid 1px #fff;
  padding-top: 24px;
  margin-bottom: 24px;
  @media #{$pad}{
    padding-top: 0;
  }
  li{
    display: flex;
    align-items: center;
    padding-bottom: 24px;
    @media #{$npc}{
      &:first-of-type{
        padding-bottom: 12px;
      }
    }
    img{
      width: 48px;
      margin-right: 12px;
      @media #{$npc}{
        width: 32px;
      }
      @media #{$pad}{
        width: 18px;
      }
    }
    p{
      font-size: 36px;
      line-height: 48px;
      @media #{$npc}{
        font-size: 26px;
        line-height: 26px;
      }
      @media #{$pad}{
        font-size: 16px;
        line-height: 22px;
      }
    }
  }
}
.footer_bot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  position: relative;
  @media #{$mb}{
    display: block;
  }
}
.copyright{
  display: flex;
  align-items: center;
  letter-spacing: 0;
  @media #{$mb}{
    display: block;
  }
  img{
    margin-right: 38px;
    @media #{$npc}{
      width: 50px;
      margin-right: 24px;
    }
    @media #{$pad}{
      display: none;
    }
    @media #{$mb}{
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 0;
    }
  }
}
.service{
  display: flex;
  
  @media #{$mb}{
    display: block;
  }
  li{
    &:hover{
      text-decoration: underline;
    }
    &:last-of-type{
      padding-left: 62px;
      @media #{$npc}{
        padding-left: 24px;
      }
      @media #{$mb}{
        padding-left: 0;
      }
    }
    @media #{$mb}{
      padding-top: 8px;
    }
  }
}

// page_01 scss :)

.page_banner{
  padding-top: 129px;
  @media #{$pad}{
    padding-top: 69px;
  }
  .page_banner_img{
    background: url('../images/qa.png') 40% bottom no-repeat;
    background-size: cover;
    height: 304px;
    @media #{$mb}{
      height: 134px;
    }
  }
  .main{
    position: relative;
  }
  .page_titlebox{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    @media #{$npc}{
      left: 48px;
    }
    @media #{$pad}{
      left: 12px;
    }
    img{
      max-width: 100%;
      @media #{$npc}{
        height: 48px;
      }
      @media #{$mb}{
        height: 24px;
      }
    }
  }
  .page_title{
    font-size: 64px;
    line-height: 90px;
    padding-right: 24px;
    @media #{$npc}{
      font-size: 48px;
    }
    @media #{$mb}{
      font-size: 28px;
      line-height: 40px;
      padding-right: 8px;
    }
  }
}

.lctn_select{
  display: flex;
  padding: 16px 0;
  width: 33.3%;
  @media #{$npc}{
    width: 45%;
  }
  p{
    font-size: 24px;
    line-height: 33px;
    padding-right: 22px;
    min-width: 120px;
    @media #{$npc}{
      font-size: 16px;
      line-height: 22px;
      min-width: 90px;
    }
  }
  select{
    width: 100%;
  }
}
.lctn_list{
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
  padding-bottom: 150px;
  @media #{$npc}{
    padding-bottom: 100px;
  }
  @media #{$mb}{
    padding-bottom: 0;
  }
  >li{
    width: 33.3%;
    padding: 14px 12px;
    @media #{$npc}{
      width: 50%;
    }
    @media #{$mb}{
      width: 100%;
    }
    img{
      width: 100%;
    }
  }
}
.store_title{
  font-size: 24px;
  line-height: 33px;
  padding: 16px 24px;
  border: 1px $grey_l solid;
  @media #{$npc}{
    padding: 16px;
    font-size: 16px;
    line-height: 22px;
  }
}

.store_info{
  padding: 12px 40px;
  border: 1px $grey_l solid;
  @media #{$npc}{
    padding: 16px;
  }
  >li{
    display: flex;
    padding: 4px 0;
  }
  p{
    font-size: 20px;
    line-height: 28px;
    margin-left: 8px;
    @media #{$npc}{
      font-size: 16px;
      line-height: 22px;
    }
  }
  i{
    display: block;
    font-size: 24px;
    width: 24px;
    &.fa-map-marker-alt{
      margin: 0 3px;
      @media #{$npc}{
        margin: 0 0 0 2px;
      }
    }
    @media #{$npc}{
      font-size: 16px;
      width: 16px;
    }
  }
}
.store_btn{
  background-color: #000;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  transition: 0.3s;
  &:hover{
    background-color: $red;
  }
  @media #{$npc}{
    font-size: 16px;
    line-height: 22px;
  }
}

.pagination{
  display: none;
  @media #{$mb}{
    display: flex;
    justify-content: center;
    padding: 40px 0 50px;
    li{
      border: solid 1px $grey_d;
      margin-left: -1px;
      &:hover{
        background-color: #000;
      }
      &.page_turn{
        &:hover{
          background-color: #F2F2F2;
          a{
            color: #555555;
          }
        }
      }
    }
    a{
      color: #000;
      font-size: 12px;
      line-height: 17px;
      padding: 8px 10px;
      &:hover{
        color: #fff;
      }
    }
  }
}